body {
    background-color: mediumaquamarine;
    color:rgb(209, 252, 18);
    text-align: center;
}
#tester {
    background-color: green;
}
p {
    color: green;
  }
  h1{
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    width: 960px;
}

.column {
       float: left;
       width: 33%;
}